.window {
	-webkit-perspective: 800px;
	   -moz-perspective: 800px;
	    -ms-perspective: 800px;
	     -o-perspective: 800px;
	        perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	     -o-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
	overflow: hidden;
}
.cube {
	position: relative;
	width: 400px;
	height: 400px;
	margin:10% auto;
	padding: 50px;
	-webkit-animation: cubeRotate 5s linear 0s infinite;
	   -moz-animation: cubeRotate 5s linear 0s infinite;
	    -ms-animation: cubeRotate 5s linear 0s infinite;
	     -o-animation: cubeRotate 5s linear 0s infinite;
	        animation: cubeRotate 5s linear 0s infinite;
	
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;

	-webkit-transition:all 1s ease;
		 -moz-transition:all 1s ease;
		  -ms-transition:all 1s ease;
		 	 -o-transition:all 1s ease;
		 	    transition:all 1s ease;

	-webkit-transform-origin:60%;
	   -moz-transform-origin:60%;
	    -ms-transform-origin:60%;
      -o-transform-origin:60%;
          transform-origin:60%;
}
.surface {
	position: absolute;
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	font-size: 200px;
	background-color: #5194A5;
	color: #fff;
}
.surface-1 {
   background-color:  rgba(179, 114, 42, 0.5);
     -webkit-transform:translate3d(0,0,150px);
        -moz-transform:translate3d(0,0,150px);
         -ms-transform:translate3d(0,0,150px);
          -o-transform:translate3d(0,0,150px);
             transform:translate3d(0,0,150px);
}
.surface-2 {
   background-color: rgba(78, 142, 165, 0.5);
	 -webkit-transform-origin: 0 50%;
	         transform-origin: 0 50%;
   -webkit-transform:translate3d(0,50%,0) rotateX(-90deg);
      -moz-transform:translate3d(0,50%,0) rotateX(-90deg);
        -o-transform:translate3d(0,50%,0) rotateX(-90deg);
           transform:translate3d(0,50%,0) rotateX(-90deg);
}
.surface-3 {
   background-color: rgba(65, 187, 99, 0.5);
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
   -webkit-transform:translate3d(0,0,-150px) rotateX(-180deg);
           transform:translate3d(0,0,-150px) rotateX(-180deg);
}
.surface-4 {
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
   -webkit-transform:translate3d(0,-50%,0) rotateX(90deg);
           transform:translate3d(0,-50%,0) rotateX(90deg);
   background-color: rgba(124, 72, 40, 0.5);
}
.surface-5 {
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
   -webkit-transform:translate3d(-50%,0,0) rotateY(90deg);
           transform:translate3d(-50%,0,0) rotateY(90deg);
   background-color: rgba(213, 86, 202, 0.5);
}
.surface-6 {
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
   -webkit-transform:translate3d(50%,0,0) rotateY(-90deg);
           transform:translate3d(50%,0,0) rotateY(-90deg);
   background-color: rgba(187, 185, 35, 0.5);
}

@-webkit-keyframes cubeRotate{
    0%{
        -webkit-transform:rotateX(0deg) rotateY(0deg);
                transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
                transform:rotateX(360deg) rotateY(360deg);
    }
}
@-moz-keyframes cubeRotate{
    0%{
        -webkit-transform:rotateX(0deg) rotateY(0deg);
                transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
                transform:rotateX(360deg) rotateY(360deg);
    }
}
@-o-keyframes cubeRotate{
     0%{
        -webkit-transform:rotateX(0deg) rotateY(0deg);
                transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
                transform:rotateX(360deg) rotateY(360deg);
    }
}
@keyframes cubeRotate{
     0%{
        -webkit-transform:rotateX(0deg) rotateY(0deg);
                transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
                transform:rotateX(360deg) rotateY(360deg);
    }
}
.pic-1 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background1.jpg");
  background-size: cover;
}
.pic-2 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background2.jpg");
  background-size: cover;
}
.pic-3 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background3.jpg");
  background-size: cover;
}
.pic-4 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background4.jpg");
  background-size: cover;
}
.pic-5 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background5.jpg");
  background-size: cover;
}
.pic-6 {
	background-image: url("https://raw.githubusercontent.com/senola/pictures/master/background/background6.jpg");
  background-size: cover;
}