@charset "utf-8";

/**
 * @access public
 * @group Utils
 * @author senola
 **/

/**
 *  设置元素顶部边界半径值。
 *
 *  @param {length} $radius - 边界半径值
 * 
 *  @example scss - 用法：
 *  .btn-border-top {
 *     @include border-top-radius(5em);
 *  }
 *
 *  @example css - 输出：
 *  .btn-border-top {
 *     border-top-right-radius: 5em;
 *     border-top-left-radius: 5em;
 *  }
 */
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

/**
 *  设置元素右侧边界半径值。
 *
 *  @param {length} $radius - 边界半径值
 * 
 *  @example scss - 用法：
 *  .btn-border-right {
 *     @include border-right-radius(5em);
 *  }
 *
 *  @example css - 输出：
 *  .btn-border-right {
 *     border-bottom-right-radius: 5em;
 *     border-top-right-radius: 5em;
 *  }
 */
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

/**
 *  设置元素底部边界半径值。
 *
 *  @param {length} $radius - 边界半径值
 * 
 *  @example scss - 用法：
 *  .btn-border-bottom {
 *     @include border-bottom-radius(5em);
 *  }
 *
 *  @example css - 输出：
 *  .btn-border-bottom {
 *     border-bottom-right-radius: 5em;
 *     border-bottom-left-radius: 5em;
 *  }
 */
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

/**
 *  设置元素左侧边界半径值。
 *
 *  @param {length} $radius - 边界半径值
 * 
 *  @example scss - 用法：
 *  .btn-border-left {
 *     @include border-left-radius(5em);
 *  }
 *
 *  @example css - 输出：
 *  .btn-border-left {
 *     border-bottom-left-radius: 5em;
 *     border-top-left-radius: 5em;
 *  }
 */
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
