.btn-border-1 {
	@include border-top-radius(5em);
}
.btn-warn-2 {
	@include border-right-radius(6em);
}
.btn-warn-3 {
	@include border-bottom-radius(6em);
}
.btn-warn-4 {
	@include border-left-radius(6em);
}
.clearfix {
	@include clearfix();
}

.container-size {
	@include size(3em, 4em);
}
.container-size2 {
	@include size(3em);
}

.div-opacity {
	@include opacity(0.4);
}
.p-text-overflow {
	max-width:  100px;
	@include text-overflow();
}

$animation: scaleBig 1s ease-out;
.animation {
    @include animation($animation);
}

$name: animationDemo;
.animation-name {
     @include animation-name($name);
}
.btn {
    @include  button-variant(#eee, #fff, #aaa);
}
.btn-size {
   @include button-size(2em, 2em, 4em, 4em, 2em);
}
.gradient-horizontal {
	 @include gradient-horizontal();
}
.gradient-vertical {
	@include  gradient-vertical();
}
.gradient-directional {
	@include gradient-directional();
}
.gradient-horizontal-three-colors {
	@include gradient-horizontal-three-colors()
}
.gradient-radial {
	@include gradient-radial();
}
.gradient-striped {
	@include gradient-striped(#F44336, 10deg);
}
.pagination {
	@include pagination(2em, 2em, 2em, 2em);
}