.btn-border-1 {
	@include border-top-radius(5em);
}
.btn-warn-2 {
	@include border-right-radius(6em);
}
.btn-warn-3 {
	@include border-bottom-radius(6em);
}
.btn-warn-4 {
	@include border-left-radius(6em);
}
.clearfix {
	@include clearfix();
}

.container-size {
	@include size(3em, 4em);
}
.container-size2 {
	@include size(3em);
}

.div-opacity {
	@include opacity(0.4);
}
.p-text-overflow {
	max-width:  100px;
	@include text-overflow();
}

$animation: scaleBig 1s ease-out;
.animation {
    @include animation($animation);
}

$name: animationDemo;
.animation-name {
     @include animation-name($name);
}