@charset "utf-8";
/* -------------------------------------------------
 * reset css
 * -------------------------------------------------
*/
html{
    height:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing:antialiased;
}
body{
	margin:0;
	padding:0;
	background-color:#fff;
	min-height:100%;
	height:auto !important;
	height:100%;
	text-align:center;
	color:#404040;
    background-color: #fafafa;
    font-size: 32%;
    font-family: "微软雅黑",Helvetica,arial;
}
h1,h2,h3,h4,h5,h6,p,figure,form{
    margin:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	border:0;
    vertical-align:middle;
    -ms-interpolation-mode: bicubic;
}
a{
	text-decoration:none;
	color:#000;
    cursor: default;
}
a:focus {
    outline: thin dotted;
}
a:hover{
    color: #000;
	text-decoration:none;
}
/* hn */
h1{
	font-size:16px;
	line-height:36px;
}
h2{
	font-size:14px;
	line-height:30px;
}
h3{
	line-height:24px;
}
h3,h4,h5,h6{
	font-size:12px;
}
/* ul ol dl */
ul,li,ol{
    margin: 0;
	padding:0;
	list-style: none outside none;
}
ul.has-style li,ol li{
	margin-left:25px;
}
ul.has-style li{
    list-style:disc;
}
ol li{
	list-style:decimal;
}
ul.inline-style li{
	float:left;
	display:inline;
}
dl{
    margin-bottom: 18px;
}
dt{
    font-weight: bold;
}
dd{
    margin:0 0 0 9px;
	padding:0;
}
svg:not(:root) {
    overflow: hidden;
}
pre{
    margin:0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
/* clearfix */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
    zoom:1;
}
/* -------------------------------------------------
 * form
 * -------------------------------------------------
*/
button,input,select,textarea{
    font-size:100%;
    font-family:tahoma;
    margin: 0;
	outline: 0 none;
    vertical-align: baseline;
    *vertical-align: middle;
}
textarea{
    overflow: auto;
    vertical-align:top; 
	resize:none;
}
button,input{
    line-height:normal;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"],
.submit-btn{
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible;
}
button[disabled],
input[disabled],
.disable{
    cursor: default;
}
input[type="checkbox"],
input[type="radio"],
.form-radio,
.form-checkbox{
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
fieldset{
    border: 1px solid #c0c0c0;
    margin: 0 2px 18px;
    padding: 0.35em 0.625em 0.75em;
}
legend{
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}
/* -------------------------------------------------
 * css3 & html5
 * -------------------------------------------------
*/
/* html5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
    display: block;
}
audio,canvas,video{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]){
    display: none;
    height: 0;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
input[type="search"]{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}
:-moz-placeholder,
::-webkit-input-placeholder{
  color: #999;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*main*/
@media screen and (max-width:400px) {
    body{font-size: 32%;}
    .recommend-icon {
       position: absolute;
       width: 30px !important;
       height: 30px !important;
       top: 0;
       left: 0;
       background: url("../images/recommend.png") no-repeat;
       background-size: cover; 
    }
    .card-more-ad {
        margin-top: 0.25em;
    }
}

@media screen and (max-width:600px) and (min-width:400px) {
    body{font-size: 48%;}
    .recommend-icon {
       position: absolute;
       width: 50px !important;
       height: 50px !important;
       top: 0;
       left: 0;
       background: url("../images/recommend.png") no-repeat;
       background-size: cover;
    }
    .card-more-ad {
        margin-top: 0.25em;
    }
}

@media screen and (min-width:600px) {
    body{font-size: 62.5%;}
    .recommend-icon {
       position: absolute;
       width: 67px !important;
       height: 67px !important;
       top: 0;
       left: 0;
       background: url("../images/recommend.png") no-repeat;
       background-size: cover;
    }
    .card-more-ad {
        margin-top: 1.5em;
    }
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > a {
    display: block;
    float: left;
    position: relative;
}
.swipe-wrap > a img{
    width: 100%
}
.swipe-wrap > a p{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 2.6em;
    color: #ffffff;
    height: 2em;
    line-height: 2em;
    text-align: left;
    padding-left: 1em;
    background-color: rgba(0,0,0,0.3);
}
header {
    position: relative;
}
#position {
    position: absolute;
    top: 5px;
    right: 5px;
}
#position li {
    position: relative;
    float: left;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    list-style: none;
}
.cur b{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  margin:auto;
    width: 5px;
    height: 5px;
    background-color: #353330;
    border-radius: 50%
}
.content ul li {
    position: relative;
    float: left;
    width: 50%;
    border-bottom: 0.4em solid #E9E9E9;
    border-right: 0.4em solid #E9E9E9;
}
.content ul li:active {
    background-color: #E9E9E9;
}
.content ul li[class='even'] {
    border-right: none;
}
.card-icon {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2.6em;
    border-bottom: 1px solid #E6E6E6;
}
.card-icon img {
    width: 2.6em;
}
.card-icon p {
    display: inline;
    height: 2.6em;
    line-height: 2.6em;

}
.card-ad {
    font-size: 2.4em;
    height: 2em;
    line-height: 2em;
    color: #969696;
    
}
.card-more {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2.6em;
}
.card-more img{
  width: 2.38em;;
}
/**/
.operate-layout {
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.operate-tips {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
.operate-tips img {
    width: 2.6em;
}